li.order-product {
    padding: 5px;
    margin: 8px;
}
ul.orderProducts {
   
    list-style: none;
}
ul.orderItems {
  
    list-style: none;
}
.invoicelink{
    color: #36c !important;
}
li.order-item {
    padding: 1%;
    border: 2px solid #aeaeae;
    margin: 10px;
    box-shadow: 3px 0px #aeaeae;
}