.Header {
    margin-bottom: 1%;
    background-color: #000;
    padding: 17px;
    color: #fff;
}
.logo-text {
    cursor: pointer;
    margin-top: 1%;
    font-weight: 700;
    font-family: monospace;
    font-size: 28px;
    display: inline-block;
}
.logo-text > a {
    color: #fff;
    text-decoration: none;
}

.header-right {
    margin-top: 1%;
    float: right;
    padding: 1%;
}
.username {
    text-transform: capitalize;
    font-size: 18px;
    padding: 40px;
    
}
.nav-header-products {
    text-transform: capitalize;
    font-size: 18px;
    padding: 40px;
    color: #fff !important;
    text-decoration: none;
}

.main-logout {
    padding: 10px;
    cursor: pointer;
}
a.carticon , a.logo-text{
    text-decoration: none;;
    color:#fff !important;
    cursor: pointer;
    margin-right: 20px;
}
.item-count {
    text-decoration: none;
    position: relative;
    top: 13px;
    left: 5px;
}
