
.ul-nav {
    list-style: none;
    padding: 3%;
    font-size: 17px;    
    margin-top: 22%;
}
.li-nav {
    padding: 2%;
}
.li-nav>a {
    color: #000;
    
}
a {
    color: #000 !important;
}

.li-nav a:hover {  
    color: #000;
}
.active-nav {
font-weight: bold;
}
.burgerbar {
    height: 1%;
    background-color: #000 !important;
    border-color: #000 !important;
}