.jumbotron.inner-box {
    margin: 4% 35%;
    min-height: 10%;
    display: flow-root;
}
.btn-submit {
    text-align: center; 
}
.login-input {
    margin-top: 18px;
}
p.login-head {
    text-align: center;
    margin-top: 8%;
    font-size: 25px;
    text-decoration: underline;
}
span#eye-password {
    position: relative;
    float: right;
    /* margin-bottom: 40px; */
    display: block;
    bottom: 29px;
    right: 12px;
}
span#eye-password:hover {
    opacity: .5;
}
.error {
 color:red; 
 text-align: center;
 font-size: 15px !important;
 margin: 0 20%;  
}