.btn-color {
    text-transform: capitalize;
    background-color:  #666464;
    border-color:  #666464;
    color: white !important;
    min-width: 80px;
    border-radius: 0;
}
.btn-color:hover,.btn-color:focus,.btn-color:focus-within ,.btn-color:active {
    background-color: #000;
    border-color: #000;
    color: white !important;
}
.button-container{
    margin: 15px;
}