.heading{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
}
.product-list {
    border: 1px solid #aeaeae;
    box-shadow: 5px 1px #aeaeae;
    margin: 1%;
    padding: 1%;
    cursor: pointer;  
}

.product-image {
    width: 180px;
    height: 160px; 
}